footer {
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footerImg {
    width: 100px;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}